<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>我的面试</title>
    <link href="../../css/mui.min.css" rel="stylesheet" />
    <link href="../../css/base.css" rel="stylesheet" />
    <style type="text/css">
    	.input {
    		text-align: left;
    		padding-left: 37px !important;
    		background: url("/images/icon/search.png") 10px center no-repeat !important;
    	}
    </style>
</head>
<body>
    <div class='interview' id="interview" v-cloak>
        <header class='header'>
            <img src="../../images/svg/left.svg" class="icon-40" id="goback" @click='back' />
            <span class='tit'>{{ title }}</span> <i></i>
        </header>
        <div class='wrap'>
            <ul class='interview' v-if='lists.length'>
                <li v-for='(item, index) in lists'>
                    <p>
                        <span>{{ item.recruitment.positionName }}</span>
                        <span style="width:6rem">{{ item.createTime.time | formatDate }}</span>
                    </p>
                    <p>
                        <span>第{{ item.round }}轮面试</span>
                    </p>
                    <p>
                        <span :class='"active" + item.result'>{{ item.result | resultFilter }}</span>
                        <span>{{ item.place }}</span>
                    </p>
                </li>
            </ul>
            <div class='nullData' v-else>当前没有您参加过的面试</div>
        </div>
    </div>
</body>
    <script src="../../js/mui.min.js"></script>
    <script src="../../js/vue.js"></script>
    <script src="../../js/axios.min.js"></script>
    <script src="../../js/common.min.js?v.7"></script>
    <script type="text/javascript">
        // 校验app或wap
        myInit(indexFun);
        function indexFun() {
            var interview = new Vue({
                el: "#interview",
                data: {
                    title: "我的面试",
                    search: "",
                    lists : []
                },
                methods: {
                    back: function () {
                        myOpenWindow("/tpl/home/home.html", 'home');
                    },
                    getList: function (name) {
                        var that = this
                        myLoading();
                        axios({
                            method: 'post',
                            url: global.apiURL + '/interview/user/getMyInterviewInfo.htm',
                            params: {
                                posNameOrInterview: name
                            }
                        }).then(function (response) {
                            var datas = response.data;
                            if (datas.success) {
                                that.lists = datas.rows
                            } else {
                                if (datas.code == 405) {
                                    againLogin(that.getList, []);
                                } else if (datas.code == 'record_not_exsist') {
                                    that.lists = []
                                } else {
                                    myToast(datas.resultMsg);
                                }
                            }
                            myLoadingOver();
                        }).catch(function (error) {
                            myLoadingOver();
                        })
                    }
                },
                mounted: function () {
                    this.$nextTick(function () {
                        mui.init();
                        this.getList()
                    });
                },
                filters: {
                    formatDate: function(date) {
                        if (date) return zjzm.getDay(date, 'yyyy-MM-dd hh:mm')
                    },
                    resultFilter: function(code) {
                        var status = '';
                        switch (code) {
                            case 0:
                                status = "未进行";
                                break;
                            case 1:
                                status = "通过";
                                break;
                            case 2:
                                status = "录取";
                                break;
                            case 3:
                                status = "不通过";
                                break;
                            case 9:
                                status = "未参加";
                                break;
                            default:
                                break;
                        }
                        return status;
                    }
                }
            });
        }
    </script>
</html>